<h1>Welcome to <%= @user.name %>'s Projects</h1>


<%= render partial: "projects/projects", locals: {projects: @projects} %>

<% if @user == current_user %>
    <%= link_to 'New Project', new_user_project_path(@user) %>
<% end %>
